MeteoService/front/Connected Services/ServiceReference1/MeteoServicesvc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53263/MeteoServicesvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MeteoService" />
  <xs:element name="GetCondicionesActuales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCondicionesActualesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MeteoService" minOccurs="0" name="GetCondicionesActualesResult" nillable="true" type="q1:CondicionesActuales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>